/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.app-logo, a{
    text-align: center;
    margin: 0;
    text-decoration: none;
}

a:hover
{
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
    background: none;
}

.menu{
    list-style-type: none;
}

li{
    display: inline;
    background-color: deepskyblue;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a {
    background-color: yellow;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}